//- meta情報のデフォルトの値を格納しているファイル
- let base_url = 'https://example.com'
- let canonical = base_url
- let page_title = ''
- let page_keywords = ''
- let page_description = ''
- let robots = ''
- let og_url = ''
- let og_type = 'website'
- let og_image = '/images/common/ogp.png'
- let og_description = ''
- let twitter_card = 'summary_large_image'
- let twitter_site = ''
- let fb_app_id = ''
