extends /layout/_default.pug
include /components/_components.pug

//- meta関係は変数を上書きします
//- 指定しない場合、_config.pug の内容が反映されます。
//- metaが足りない場合、個別対応ならheadブロックに記載、共通なら_common_head.pugに追記してください
block variable
  - page_title = 'インデックスページ'
  - description = 'indexページの概要文が入ります'
  - canonical = '';
  - og_description = "og:descriptionに入れる内容。省略時はdescriptionが入ります";
  - og_url = "";
  - og_image = "";
  - twitter_card = "summary_large_image";
//- headの最後に入れるもの(追加のmetaやCSS,gtm等のheadに置くJS等)
block head

//- bodyの最後に入れるもの
block script

//- メインエリアに入れるもの
block content
  section.p-page-fv
    h2.c-page-title.title-white
      .c-page-title__en COMPANY
      .c-page-title__jp 企業情報
    nav.breadcrumb.multiline-ellipsis
      ol 
        li 
          a(href="/") TOP 
        li 
          a(href="/") 企業情報 
  section.mt_30
    .inner
      h2.c-section-title.title-black
        .c-section-title__en COMPANY INFORMATION LIST
        .c-section-title__jp 企業情報一覧
      .mt_20
      .card-list.mb_30
        .card-item
          img(src="../images/top/customer-01.png", alt="")
          .card-desc.flex.flex_col.p_10.flex_center.gap_1.pb_30
            span.text_bold 会社概要/企業理念
            span テストテストテステストテストテストテストテテストテストテステストテストテストテストテテストテストテステストテストテストテストテ
        .card-item
          img(src="../images/top/customer-01.png", alt="")
          .card-desc.flex.flex_col.p_10.flex_center.gap_1.pb_30
            span.text_bold 役員紹介
            span テストテストテステストテストテストテストテテストテストテステストテストテストテストテテストテストテステストテストテストテストテ
        .card-item
          img(src="../images/top/customer-01.png", alt="")
          .card-desc.flex.flex_col.p_10.flex_center.gap_1.pb_30
            span.text_bold 採用情報
            span テストテストテステストテストテストテストテテストテストテステストテストテストテストテテストテストテステストテストテストテストテ
        