extends /layout/_default.pug
include /components/_components.pug

//- meta関係は変数を上書きします
//- 指定しない場合、_config.pug の内容が反映されます。
//- metaが足りない場合、個別対応ならheadブロックに記載、共通なら_common_head.pugに追記してください
block variable
  - page_title = 'インデックスページ'
  - description = 'indexページの概要文が入ります'
  - canonical = '';
  - og_description = "og:descriptionに入れる内容。省略時はdescriptionが入ります";
  - og_url = "";
  - og_image = "";
  - twitter_card = "summary_large_image";
//- headの最後に入れるもの(追加のmetaやCSS,gtm等のheadに置くJS等)
block head

//- bodyの最後に入れるもの
block script

//- メインエリアに入れるもの
block content
  section.p-page-fv
    h2.c-page-title.title-white
      .c-page-title__en NEWS
      .c-page-title__jp お知らせ
    nav.breadcrumb.multiline-ellipsis
      ol 
        li 
          a(href="/") TOP 
        li 
          a(href="/") お知らせ 
        li 
          a(href="/") News title 
  section.p-page-news-content 
    .inner
      h1.news_title New title
      .flex.gap_2
        span.news_date 2025.00.00
        span.news_category Category name
      .news_content 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      