.news__item {
  align-items: center;
  border-bottom: 1px solid #888;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: start;
  padding: 16px 0px;
}

.news__date {
  flex: 0 0 120px;
  min-width: 120px;
}

.category {
  flex: 0 0 120px;
  font-weight: 500;
  max-width: 120px;
  min-width: 120px;
}

.news__title {
  flex: 1;
  min-width: 200px;
}

@media (max-width: 768px) {
  .news__item {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .news__date,
  .category,
  .news__title {
    flex: unset;
    max-width: none;
    min-width: 0;
    text-align: left;
    width: 100%;
  }
}
