{
  "singleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "printWidth": 9999,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
