include /components/_header.pug
include /components/_footer.pug

include /components/breadcrumb/_breadcrumb.pug
include /components/spacer/_spacer.pug
include /components/spacer/_spacer-horizontal.pug
include /components/spacer/_spacer-vertical.pug

//- サンプル用のコンポーネント
//- 作成する際は↓を消して使ってください
include /components/example/_example-container.pug
include /components/example/_example-table.pug
include /components/example/_example-page-title.pug
include /components/example/_example-title-h2.pug
include /components/example/_example-body-text.pug
include /components/example/_example-picture.pug
