mixin footer()
  .footer
    .inner 
      .footer__wrap 
        .footer__logo 
          a(href="") 
            img(src="../images/common/logo.png", alt="")
          p.footer__copyright © 2025 LUDOA inc.all rights reserved.
        .footer__menu 
          .footer__menuBlock 
            a.footer__menuTtl Service
              span.footer__menuSubttl 事業内容
            .footer__menuList 
              a(href="") WEB集客コンサルティング
              a(href="") SEO運用代行
              a(href="") 広告運用代行
              a(href="") WEBサイト制作
              a(href="") WEBサイト診断・改善支援
              a(href="") システム・開発
              a(href="") Notion導入支援
          .footer__menuBlock 
            a.footer__menuTtl Company
              span.footer__menuSubttl 企業情報
            .footer__menuList 
              a(href="") 企業理念 / 会社概要
              a(href="") 役員紹介
              a(href="") 採用情報
          .footer__menuBlock 
            a.footer__menuTtl Others
              span.footer__menuSubttl その他
            .footer__menuList 
              a(href="") お問い合わせ
              a(href="") ニュース
              a(href="") 個人情報保護方針
      p.footer__copyrightSP © 2025 LUDOA inc.all rights reserved.
    a(href="#pagetop").footer__pagetop 
      img(src="../images/common/page-top-icon.png", alt="ページトップへ ボタン")
      