// ==============================================
// ブレイクポイント設定
// スマホファーストで、min-widthに指定する数値を設定する
// ==============================================
$breakpoints: (
  sp: 0,
  tablet: 576px,
  pc: 1440px,
);

// ==============================================
// ブレイクポイントごとの最小ビューポート(≒デザイン幅)
// これよりビューポートが縮んだ場合、縮小していく
// ==============================================
$viewports: (
  sp: 375,
  tablet: 576,
  pc: 1200,
);
