// inter
$font-family-inter: 'Inter', sans-serif;
// Poppins
$font-family-poppins: 'Poppins', sans-serif;
// sans-serif
$font-family-sans-serif: sans-serif;

// ==============================================
// フォント設定
// ==============================================

// ベースのフォントサイズ 1rem = 10px
$base-font-size: 16px;

// ベースの行間
$base-line-height: 1.5;

// ベースのフォント
$base-font-family: $font-family-inter;
$base-font-family-en: $font-family-poppins;

// ==============================================
// カラーパレット
// よく使う色を定義する
// ==============================================

// テーマカラー
$theme-color: #212229;

// ベースの文字色
$base-font-color: #000000;

// ベースのリンク文字色
$base-link-color: #ffffff;
